.settingsButton {
    -fx-background-image: url("../images/settings.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px;
    -fx-background-color: transparent;
}

.settingsButton:hover {
    -fx-background-image: url("../images/settingsBright.png");
}

.pauseButton {
    -fx-shape: "M715,200L840,200L840,600L715,600L715,200ZM440,600L440,200L565,200L565,600L440,600Z";
    -fx-background-color: rgb(200, 125, 0);
}

.pauseButton:hover {
    -fx-background-color: rgb(225, 150, 0);
}

.playButton {
    -fx-shape: "M283.001,130.648C287.124,123.007 295.107,118.244 303.789,118.244C312.472,118.244 320.454,123.007 324.578,130.648C362.282,200.517 441.387,347.103 477.581,414.172C481.532,421.493 481.341,430.351 477.079,437.494C472.816,444.638 465.111,449.013 456.793,449.013C382.879,449.013 224.7,449.013 150.786,449.013C142.467,449.013 134.762,444.638 130.5,437.494C126.238,430.351 126.047,421.493 129.997,414.172C166.192,347.103 245.296,200.517 283.001,130.648Z";
    -fx-background-color: rgb(25,150,0);
    -fx-rotate: 90;
}

.playButton:hover {
    -fx-background-color: rgb(50,175,0);
}